/**
 * Default (small display) styles first. Larger displays in media queries. 
 */

/**
 *  BEGIN default styles for Regions/Variables in <header>
 *  1. #top-navigation 
 *  2. #logo-name-navsearch
 *		2a.	.logo
 *  	2b. .site-name
 *	 	2c  .header (renders if not empty and no $site_name)
 *  	2d. .search-box
 *  5. #integrated-header
 *
 */

/** GLOBAL DEFAULTS **/

#main-upper, #main-content, #main-lower, #main-bottom {
	padding: 15px 0;
}

.icon-before::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.lead-smaller {
	font-size:18px;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4;
}

p.alert-title {
	color: #ffcb05;
	font-size: 2.5em;
	padding-right: 20px;
}

.maize-highlight {
	background: rgba(255,203,5,.2);
	padding: 5px;
}

a.tel, a.tel:hover, a.tel:active {
	color: #000000;
	text-decoration: none;
}

.icon-bar-block {

}

.icon-bar {
  /*margin-top:-31px;*/
  padding-bottom: 10px;
}

.icon-bar-item {
   color: #ffffff;
   font-size: 1.3em;
   padding: 17px;
}

.icon-bar-item a {
  color: #ffffff;
  text-decoration: none;
}

a .icon-bar-item-title {
	font-size: 1.2em;
}

.icon-bar-item a:hover {
  color: #ffcb05;
}

/** HEADER REGION DEFAULTS **/

#header {
	background-color: #00274c;
}

#top-navigation {
	background: #001931;
	padding-bottom: 5px;
    padding-top: 5px;
}

#top-navigation .nav > li > a, #footer .nav > li > a  {
	padding: 0 8px;
	color: #ddd;
	font-size: .9em;
}

#top-navigation .nav > li > a:hover, #footer .nav > li > a:hover {
	background: transparent;
	text-decoration: underline;
	color: #ffcb05;
}

#logo-name-navsearch {
	padding: 20px 0;
}



img.logo {
	max-width: 100%;
}

.site-name {
	
}

.header-blocks {
	
}

.search-box {
	
}

#integrated-header {
	background:#eee;
}

/**  NAVIGATION REGION DEFAULTS **/

#navigation {
	margin-left: -15px;
}


/**  MAIN TOP REGION DEFAULTS  **/


.patients-landing-page #main-top {
	padding-top:0;
	padding-bottom:15px;
}

#main-top {
	background:#fff;
}

#main-top h1 {
	margin-top: 0;
	padding: 5px 15px;
	background: -moz-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.43) 4%, rgba(255,255,255,0.43) 5%, rgba(255,255,255,0.19) 81%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.43) 4%,rgba(255,255,255,0.43) 5%,rgba(255,255,255,0.19) 81%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.43) 4%,rgba(255,255,255,0.43) 5%,rgba(255,255,255,0.19) 81%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	copy
}

#main-top h1 a {
	color: #00274c;
}

.patients-landing-page #top-navigation .nav li, .patients-inner-page #top-navigation .nav li {
	display: inline-block;
	font-size:.8em;
}

.patients-landing-page #top-navigation .nav li.first a, .patients-inner-page #top-navigation .nav li.first a {
	padding-left: 0;
}

.patients-landing-page #footer .nav li, .patients-inner-page #footer .nav li {
	display: inline-block;
	font-size:.8em;
}

.patients-landing-page #footer .nav li.first a, .patients-inner-page #footer .nav li.first a {
	padding-left: 0;
}

.patients-landing-page-menu .nav li {
	display: block;
}

.patients-landing-page-menu .nav > li > a, input.patients-lp-rogue-menu-item {
	margin-left: 0;
	background: #00274c;
	color: #fff;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

input.patients-lp-rogue-menu-item {
	border: none;
	width: 100%;
	text-align: left;
	padding: 10px 10px;
	background: #cc6600;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.patients-landing-page form input[type="text"] {
	position:relative;
	font-family: 'FontAwesome';
}



.patients-landing-page-menu .nav > li > a:hover, input.patients-lp-rogue-menu-item:hover {
	background: #587abc;
}


/**  MAIN UPPER REGION DEFAULTS  **/

#main-upper {
	background:#fff;
}

.patients-landing-page #main-upper {
	background-image: url('/sites/default/files/patients-alert-background.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: 0 0;
}

#main-upper p {
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px; 
}




/**  <main> CONTENT AREA DEFAULTS  **/

main {
	background: url('/sites/default/files/Dental-School-blue-35.png');
	background-repeat: no-repeat;
	background-position: ;
	background-size: ;
}

article.white-semi-trans-bg  {
	background: rgba(255,255,255,.9);
	padding: 15px;
}

.blue-inner-page-title {
  font-weight: 300;
  color: #407cc9;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom:20px;
  font-size: 2em;
}

#block-menu-menu-patients-inner-pages-menu {
	background: rgba(1,37,122,.1);
	border: solid 1px rgba(1,37,122,.3);
}

#block-menu-menu-patients-inner-pages-menu .nav > li > a {
	color: #01257a;
}

#block-menu-menu-patients-inner-pages-menu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(1,37,122,.3);
}
/**  MAIN LOWER REGION DEFAULTS  **/

#main-lower {
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: auto;
}

.patients-landing-page #main-lower h4 a {
	display: block;
	padding: 10px 15px;
	background: rgba(255,255,255,.8);
	color: #00274c;
	font-weight: normal;
	font-size: 1.2em;
	box-shadow: 0 0 3px 0 #888;
}

.patients-landing-page #main-lower h4 a:hover, 
.patients-landing-page #main-lower h4 a:active, 
.patients-landing-page #main-lower h4 a:focus {
	text-decoration: none;

}

.patients-landing-page #main-lower h4 a:hover {
	/*background: rgba(255,203,5,.3);*/
}

.patients-landing-page #main-lower h4 a.collapsed i.fa-plus{
	display: inline-block;
}

.patients-landing-page #main-lower h4 a:not(.collapsed) i.fa-plus {
	display: none;
}

.patients-landing-page #main-lower h4 a.collapsed i.fa-minus {
	display: none;
}

.patients-landing-page #main-lower h4 a:not(.collapsed) i.fa-minus {
	display: inline-block;
	color: #587abc;
}


#main-lower .panel-heading {
	padding:0;
}

#main-lower .panel {
	border: none;
	box-shadow: none;
	background: transparent;
}

#main-lower .panel-group .panel {
	margin-bottom: 10px;
	border-radius: 3px;
}

#main-lower .panel-default > .panel-heading {
	background-color: transparent;
}

#main-lower .panel-default > .panel-heading + .panel-collapse > .panel-body {
	background: rgba(255,255,255,.7);
}

#main-lower .panel img.infographic {
	max-width: 50%;
}

/**  MAIN BOTTOM REGION DEFAULTS  **/

#main-bottom {
	background: rgba(108,73,56,.9);
}

/** MAIN LOWER BOTTOM COMBINED **/

#main-lower-bottom-combined {
		background-image: url('/sites/default/files/Patients/ann-arbor-skyline1-3000px.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: auto;
}

/**  FOOTER REGION DEFAULTS  **/

#footer {
	background-color: #00274c;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer a {
	color:#fff;
}


/** !! **/

/** Legacy styles for Doppelganger - MOVE THIS TO a DIFF STYLE SHEET!! */

/* Main Menu */

/* ----- Main Navigation ------------- */

 #main-menu {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image: -o-linear-gradient(top,#fff,#f2f2f2);
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat: repeat-x;
	margin-left: -1px;
	position: relative;
	box-shadow: 1px 1px 3px #444;
	-moz-box-shadow: 1px 1px 3px #444;
	-webkit-box-shadow: 1px 1px 3px #444;
}

.navbar {
	margin-bottom: 0;
	min-height: 41px;
}

.navbar-inner {
	border-left-width: 0;
	border-right-width: 0;
	border-bottom: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0;
	-webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

.navbar-inner .container {
	margin-top: -1px;
}

.navbar-inner ul.menu.nav {
	width: 100%;
	text-align: center;
}

.site-main-menu ul.menu li {
	width: 16.5%;
	float: left;
}

.navbar .nav>li.leaf {
	border-left: solid 1px #ddd;
}

.navbar .nav>li.last.leaf {
	border-right: solid 1px #ddd;;
}

.navbar .nav>li>a {
	padding-left:0;
	padding-right:0;
	color: #00274c;
}

.navbar .nav>li>a:hover {
	background: #4a79a5;
	color: #fff;
	text-shadow: none;
}

.navbar .nav>.active>a {
	background: #4a79a5;
	color: #fff;
	text-shadow: none;
}

.navbar .nav>.active>a:hover {
        background: #4a79a5;
        color: #fff;
        text-shadow: none;
}


/* landscape phone to portrait tablet */
@media (max-width: 767px) {

	  /* Mobile Navigation */

	.button {
		padding:3px;
		margin:0;
		width: 25%;
		float:left;
		box-sizing: border-box;
		text-align:center;
		color: #00274c;
		background-color: #fafafa;
	        background-image: -moz-linear-gradient(top,#fff,#cdcdcd);
	        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#cdcdcd));
	        background-image: -webkit-linear-gradient(top,#fff,#cdcdcd);
	        background-image: -o-linear-gradient(top,#fff,#cdcdcd);
	        background-image: linear-gradient(to bottom,#fff,#cdcdcd);
	        background-repeat: repeat-x;
		border-left: solid 1px #aaa;
		-moz-box-sizing: border-box;
	}

	.button.first {
		padding-left: 0;
	}

	.button:hover {
		background: #4a79a5;
		color: #fff;
	}

	.active {
		color: #000;
		background: transparent; /* Old browsers */
	}


	.area1, .area2, .area3, .area4 {
		display:none;
		}

	#main-menu .button {
		padding-top: 5px;
		padding-bottom: 5px;
	}


	.mobile-dropdown-menu {
		background: transparent;
		box-sizing: border-box;
	}

	.mobile-dropdown-menu ul.menu.nav li {
		width: 50%;
		float: left;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		overflow: hidden;
	}

	.mobile-dropdown-menu ul.menu.nav li a {
		display: block;
		padding: 18px;
		font-size: 1.2em;
		box-shadow: inset 0px 2px 8px -3px #555;
		color: #fff;
		background: #00274c; /* Old browsers */
	background: -moz-linear-gradient(top,  #00274c 0%, #254e7a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00274c), color-stop(100%,#254e7a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00274c 0%,#254e7a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00274c', endColorstr='#254e7a',GradientType=0 ); /* IE6-9 */
		text-decoration:none;
	}

	.mobile-dropdown-menu ul.menu.nav li a:hover {
		background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #555555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#555555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#555555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#555555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#555555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
	}

	.mobile-dropdown-menu ul.menu.nav li.active-trail a {
		color: #fff;
		background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #555555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#555555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#555555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#555555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#555555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#555555',GradientType=0 ); /* IE6-9 */

	}

	.menus-container {
		clear:left;
		width:100%;
		background: #00274c; /* Old browsers */
	background: -moz-linear-gradient(top,  #00274c 0%, #254e7a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00274c), color-stop(100%,#254e7a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00274c 0%,#254e7a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00274c 0%,#254e7a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00274c', endColorstr='#254e7a',GradientType=0 ); /* IE6-9 */

	}

	.mobile-menu-search-block {
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		padding: 15px;
		color: #00274c;
		width: 50%;
		float: left;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		min-height: 65px;
		font-size: 1.2em;
		box-shadow: 0px 2px 8px -3px rgb(85, 85, 85) inset;
	}

	.mobile-menu-search-block #block-search-form {
		width: 90%;
	}

	.mobile-menu-search-block #block-search-form input.search-query {
		width: 90%;
		padding-right: 5px;
	}

	.mobile-menu-search-block #block-search-form input.btn-search {
		display: none;
	}
	
	.mobile-menu-search-block .form-group {
		margin-bottom: 0;
	}

	.mobile-menu-find-person {
		padding-top: 6px;
	}

	.mobile-menu-find-person a {
		color: #fff;
	}

	.mobile-menu-find-person i {
		margin-right: 12px;
	}

	.postcard-left.bio-small {
	        max-width:90%;
	}

	}

	
}

@media (max-width: 991px)  {
	
	.site-main-menu ul.menu li {
		font-size: .9em;
	}
	
}

@media (min-width: 1800px) {
	#main-top.bg-image {
		background-position: 0 -129px !important;
	}
}











